[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
ansible = "*"

[packages]
django-annoying = "*"
django-widget-tweaks = "*"
requests = "*"
django-pipeline = "*"
gunicorn = "*"
Django = "<3"
Pillow = "*"
Unipath = "*"
django-environ = "*"
raven = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
