{% extends 'base.html' %}
{% load images %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <figure>
            <img src="{{ image.thumb_large.url }}" />
            <figcaption>
                From: <a href="{{ image.source }}">{{ image.source }}</a>
            </figcaption>
        </figure>
    </div>

    <div class="col-md-5">
        <dl id="img-urls">
            <dt>This page url:</dt>
            <dd>{% full_img_url image.get_absolute_url %}</dd>
            <dt>Original file:</dt>
            <dd>{% full_img_url image.image.url %}</dd>
            <dt>Large thumbnail:</dt>
            <dd>{% full_img_url image.thumb_large.url %}</dd>
            <dt>Small thumbnail:</dt>
            <dd>{% full_img_url image.thumb_small.url %}</dd>
            <dt>Rst markup:</dt>
            <dd>
            <pre>
.. figure:: {% full_img_url image.thumb_large.url %}
    :target: {% full_img_url image.get_absolute_url %}
    :alt:
    :align: center
    :class: full</pre>
            </dd>
        </dl>
    </div>
</div>
{% endblock %}
