{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <img src="{{ image.thumb_large.url }}" />
    </div>

    <div class="col-md-5">
        <dl id="img-urls">
            <dt>Full url:</dt>
            <dd>{{ full_url }}</dd>
            <dt>Rst markup:</dt>
            <dd>
            <pre>
figure:: {{ file_url }}
    :target: {{ page_url }}
    :alt:
    :align: center
    :class: full</pre>
            </dd>
        </dl>
    </div>
{% endblock %}
