{% extends 'base.html' %}
{% load images %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <figure>
            <img src="{{ image.thumb_large.url }}" />
            {% if image.source %}
            <figcaption>
                From: <a href="{{ image.source }}">{{ image.source }}</a>
            </figcaption>
            {% endif %}
        </figure>
    </div>

    <div class="col-md-5">
        <dl id="img-urls">
            <dt>This page url:</dt>
            <dd>{% full_img_url image.get_absolute_url %}</dd>
            <dt>Original file:</dt>
            <dd>{% full_img_url image.image.url %}</dd>
            <dt>Large thumbnail:</dt>
            <dd>{% full_img_url image.thumb_large.url %}</dd>
            <dt>Small thumbnail:</dt>
            <dd>{% full_img_url image.thumb_small.url %}</dd>
            <dt>Rst markup:</dt>
            <dd>
            <pre>
.. figure:: {% full_img_url image.thumb_large.url %}
    :target: {% full_img_url image.get_absolute_url %}
    :alt:
    :align: center
    :class: full</pre>
            </dd>
        </dl>
        <a href="{% url 'meme' base_key %}">Create a meme</a>

        {% if image.is_meme %}
            —
            <a href="{% url 'detail' base_key %}">Similar memes</a>
        {% endif %}
    </div>
</div>

{% if has_memes %}
<h2>{{ _('Related memes') }} </h2>

<div class="row">
    <div class="col-md-12">
    {% for meme in related_memes %}
        {% if meme.thumb_small %}
        <div class="col-xs-6 col-md-2 img">
            <a href="{% url 'detail' meme.unique_key %}">
                <img src="{{ meme.thumb_small.url }}" />
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
