img, canvas {
    max-width: 100%;
}
dl#img-urls dd {
    margin-bottom: 1.5em;
}
dl#img-urls pre {
}
.row .img {
    margin-bottom: 1.5em;
}
input[type=file].form-control {
    padding: 0;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
