upstream img_server {
    server localhost:8001;
}

server {
    server_name i.miximum.fr;

    access_log /var/log/nginx/img.access.log;
    error_log /var/log/nginx/img.error.log;

    location /i/ {
        alias   /home/img/img/public/media/i/;
    }

    location /static/ {
        alias   /home/img/img/public/static/;
    }

    location /media/ {
        alias   /home/img/img/public/media/;
    }

    location / {
        proxy_pass http://img_server;
        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
